.search-container {
    width: 40%; 
    height: 615px; 
    position: absolute;
    left: 58%;
    border-radius: 25px; 
    margin-top: 0px;
    /*
    clip:rect(158px,1000px,1000px,-100px);
    top:-100px;
    */
    border-color: var(--tertiary-color);
    border-width: 5px;
    transition: all 0.5s ease;
    box-shadow: 0 0 9px 10px rgba(67, 67, 67, 0.15);
    overflow-x: hidden;
}
.search-container:hover{
    box-shadow: 0 0 9px 10px rgba(67, 67, 67, 0.27);
}
body {
    user-select: none;
    margin: 0;
    overflow: hidden;  
    /* Hide scrollbars  */
    padding: 0;
}
.topbar {
    display: flex;
    align-items: center;
    background-color: var(--primary-color); 
    padding: 10px 0; 
}
.nottopbar {
    display: flex;
    align-items: top;
    background: var(--secundary-color);
    padding: 10px 0; 
    height: 1000px;
    padding-top: 0px 0px; 
    background: rgb(34,34,34);
    background: linear-gradient(160deg, var(--secundary-color) 20%, rgba(148,187,233,1) 200%);
}
.button1 {
    user-select: none;
    transition: all 0.25s ease;
    border-radius: 8px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #5f6368; 
    background-color: var(--secundary-color); 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    margin: 0 4px; 
}
.button1:hover {
transform: scale(.95); 
box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.01);
}
.button1:active {
transform: scale(.9);
box-shadow: 0 0 8px 7px rgba(255, 255, 255, 0.01);
}
.searchBox{
transition: all 0.5s ease;
position: fixed;
right:0;
margin-right: 3%;
margin-top: -2px;
width: 350px;
border: 3px solid var(--quinary-color);;
background: transparent;
padding: 5px 10px;
border-radius: 50px;
outline: none;
font-size: 18px;
color: #757575;
font-weight: bold;
box-shadow: 0 0 12px 10px rgba(255, 255, 255, 0.025);
transition: all 0.5s ease;
background: var(--tertiary-color);
background: linear-gradient(160deg, var(--secundary-color) 19%, var(--primary-color) 100%);
}
.searchBox:hover{
    box-shadow: 0 0 12px 10px rgba(255, 255, 255, 0.05);
}
.button2{
    box-shadow: 0 0 12px 10px rgba(255, 255, 255, 0.01);
    transition: all 0.25s ease;
    margin-top: 20px;
    margin-left: 20px;
    height: 150px;
    width: 150px;
    user-select: none;
    border-radius: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 29px;
    color: #5f6368; 
    border-width: 4px;
    border: none;
    background-color: var(--quaternary-color);
    cursor: pointer;
}
.button2:hover {
background-color: rgba #f2f3f5; 
transform: scale(.98); 
box-shadow: 0 0 12px 10px rgba(255, 255, 255, 0.03);
}
.button2:active {
transform: scale(.86);
box-shadow: 0 0 12px 10px rgba(255, 255, 255, 0.05);
}
#icon{
    width: 30px;
    cursor: pointer;
    margin-left: 97.5%;
    position: fixed;
}
:root{    
    --primary-color: #1c1c1c ;
    --secundary-color: #222222;
    --tertiary-color: #222222;
    --quaternary-color: #333333;
    --quinary-color: #35373c;
}
.dark-theme{
    --primary-color: #e4e4e4 ;
    --secundary-color: #d3d3d3;
    --tertiary-color: (185, 191, 203, 0);
    --quaternary-color: #b2b4b8;
    --quinary-color: #b4baca;
}